<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" 
		  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

<-- All the URL's here are just fictitious, use only as example -->

	<localRepository><!-- INSERT YOUR HOME HERE -->/.m2/repository</localRepository>

	<servers>
		<server>
			<id>org</id>
			<username>maven-repo-write</username>
			<password>encryptedkey</password>
		</server>
	</servers>

	<profiles>
		<profile>
			<id>org</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<properties>
				<downloadSources>true</downloadSources>
			</properties>
			<repositories>
				<repository>
					<id>org</id>
					<url>https://artifactory.com/artifactory/maven-repo</url>
					<releases><enabled>true</enabled></releases>
					<snapshots><enabled>true</enabled></snapshots>
				</repository>       	
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<releases>
						<enabled>true</enabled>
						<updatePolicy />
						<checksumPolicy>ignore</checksumPolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy />
						<checksumPolicy>ignore</checksumPolicy>
					</snapshots>
					<id>org</id>
					<url>https://artifactory.com/artifactory/maven-repo</url>
					<layout>default</layout>
				</pluginRepository>
			</pluginRepositories>			
		</profile>
	</profiles>
</settings>
